<div [class]="registerClass">
    <div class="card-header text-center bg-dark text-white">{{title}}</div>
    <div *ngIf="!list" class="card-body bg-light" id="componentContainer">
        <form enctype="multipart/form-data" id="customerForm">
            <div class="form-group row">
                <div class="col-4">
                    <label class="col-form-label">Documento</label>
                    <input type="text" [(ngModel)]="customer.document" class="form-control form-control-sm" id="document" name="document" placeholder="Ingrese el número de documento del cliente" required #nit="ngModel" [readOnly]="!submitBtn" />
                    <small id="documentError" class="form-text text-danger"></small>
                </div>
                <div class="col-4">
                    <label class="col-form-label">Dirección</label>
                    <input type="text" [(ngModel)]="customer.address" class="form-control form-control-sm" id="address" name="address" placeholder="Ingrese la dirección del cliente" required #address="ngModel" [readOnly]="!submitBtn" />
                    <small id="addressError" class="form-text text-danger"></small>
                </div>
                <div class="col-4">
                    <label class="col-form-label">Estado</label>
                    <select id="state" class="form-control form-control-sm" name="state" [(ngModel)]="customer.state" [disabled]="operation != 'update'">
                    <option value="true">ACTIVO</option>
                    <option value="false">INACTIVO</option>
                </select>
                    <small id="stateError" class="form-text text-danger"></small>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label class="col-form-label">Nombres</label>
                    <input type="text" [(ngModel)]="customer.name" class="form-control form-control-sm" id="name" name="name" placeholder="Ingrese el nombre del cliente" required #name="ngModel" [readOnly]="!submitBtn" />
                    <small id="nameError" class="form-text text-danger"></small>
                </div>
                <div class="col-4">
                    <label class="col-form-label">Apellidos</label>
                    <input type="text" [(ngModel)]="customer.lastName" class="form-control form-control-sm" id="lastName" name="lastName" placeholder="Ingrese el/los apellidos del cliente" required #lastName="ngModel" [readOnly]="!submitBtn" />
                    <small id="lastNameError" class="form-text text-danger"></small>
                </div>
                <div class="col-4">
                    <label class="col-form-label">Correo Electrónico</label>
                    <input type="text" [(ngModel)]="customer.email" class="form-control form-control-sm" id="email" name="email" placeholder="Ingrese el e-mail" required #email="ngModel" [readOnly]="!submitBtn" />
                    <small id="emailError" class="form-text text-danger"></small>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label class="col-form-label">Teléfono</label>
                    <input type="text" [(ngModel)]="customer.phone" class="form-control form-control-sm" id="phone" name="phone" placeholder="Ingrese el teléfono del cliente" required #phone="ngModel" [readOnly]="!submitBtn" />
                    <small id="phoneError" class="form-text text-danger"></small>
                </div>
                <div class="col-4">
                    <label class="col-form-label">Contraseña</label>
                    <input type="text" [(ngModel)]="customer.password" class="form-control form-control-sm" id="password" name="password" placeholder="Ingrese la contraseña del Cliente" required #password="ngModel" [readOnly]="!submitBtn" />
                    <small id="passwordError" class="form-text text-danger"></small>
                </div>
                <div class="col-4">
                    <label class="col-form-label">Ciudad</label>
                    <select id="city" class="form-control form-control-sm" name="city" [(ngModel)]="customer.city.cityId" [disabled]="!submitBtn">
                    <option value="0">--SELECCIONE--</option>
                    <option *ngFor="let city of cities" value={{city.cityId}}>{{city.cityName}}</option>
                </select>
                    <small id="cityError" class="form-text text-danger"></small>
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-sm-6">
                    <button id="saveButton" *ngIf="submitBtn" type="button" class="btn btn-primary w-25" (click)="onSubmit()">{{saveButtonText}}</button>
                    <button type="button" class="btn btn-primary w-25" *ngIf="!submitBtn" (click)="changeButtonState()">{{saveButtonText}}</button>
                    <a [routerLink]="registerRedirect" class="btn btn-danger w-25 ml-2">CANCELAR</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div *ngIf="list" id="componentContainer">
    
    <table class="table table-striped table-bordered table-light">
        <thead>
            <tr>
                <th>ID</th>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tableRow">
            <tr *ngFor="let customer of customerList">
                <td>{{ customer.customerId }}</td>
                <td>{{ customer.document }}</td>
                <td>{{ customer.name + " " + customer.lastName }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.email }}</td>
                <td><a class="btn btn-primary" routerLink="/main/customer/view/{{customer.customerId}}">Ver
                        información</a>
            </tr>
        </tbody>
    </table>
</div>